body {
  margin: 30px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

div {
  border-radius: 7px;
}

ul {
  padding: 5px;
}

li {
  margin-bottom: 7px;
}

table {
  table-layout: auto;
  margin: 2%;
  border-collapse: collapse;
  width: 95%;
}

td {
  word-wrap: break-word;
  border: 1px solid grey;
}

.header {
  width: 90%;
  text-align: center;
  margin-bottom: 30px;
}

#text-field {
  width: 80%;
  height: 25px;
  border: 1px solid grey;
  display: inline-block;
}

#buttons {
  display: inline;
  width: 250px;
  height: 2em;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
}

.left {
  background-color: #2ecc71;
  width: 25%;
  min-height: 700px;
  float: left;
  padding-left: 15px;
}

.right {
  border: 3px solid #2ecc71;
  display: inline-block;
  width: 55%;
  min-height: 700px;
  float: left;
  margin-left: 20px;
}

.left li:hover{
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.key {
  width: 35%;
}

.value {
  width: 65%;
}

#results-list {
  list-style-type: none;
}

#movie-title {
  text-align: center;
}

#key {
  width: 15%;
}


