body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

div {
  border-radius: 7px;
}

button {
  width: 120px;
  background-color: white;
  color: #52B3D9;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  margin: 0px 10px 10px 10px;
}

ul {
  padding: 5px;
}

li {
  margin-bottom: 7px;
}

table {
  table-layout: auto;
  margin: 2%;
  border-collapse: collapse;
  width: 95%;
}

td {
  word-wrap: break-word;
  border: 2px solid white;
  background-color: #ECECEC;
}

h1 {
  padding-top: 20px;
}

.header {
  background-color: #52B3D9;
  color: white;
  height: 160px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.container {
  display: flex;
}

.left {
  background-color: #52B3D9;
  color: white;
  width: 30%;
  min-height: 500px;
  float: left;
  padding-left: 15px;
}

.right {
  border: 3px solid #52B3D9;
  display: inline-block;
  width: 70%;
  min-height: 500px;
  float: left;
  margin-left: 20px;
}

.left li:hover{
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

.key {
  width: 35%;
}

.value {
  width: 65%;
}

#text-field {
  display: inline-block;
  width: 80%;
  height: 25px;
  margin-bottom: 20px;
  border: 3px solid white;
  border-radius: 7px;
}

#buttons-block {
  display: inline;
  width: 250px;
  height: 2em;
  margin-left: 20px;
  margin-right: 20px;
}

#results-list {
  list-style-type: none;
}

#right-header {
  text-align: center;
}

#movie-title {
  margin-left: 15%;
  margin-right: 15%;
}

#addFav-Button {
  width: 200px;
  font-size: 12px;
}




